.moving-word-container {
    position: relative;
    width: 100%;
    height: 24px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    background-image: linear-gradient(150deg,green,blue );
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .moving-word {
    position: absolute;
    white-space: nowrap;
    font-size: 24px; /* Ajusta el tamaño de fuente según tus necesidades */
    animation: moveWord 15s linear infinite ;
  }
  
  @keyframes moveWord {
    from {
      left: -100%;
    }
    to {
      left: 100%;
    }
  }
  