* {
    margin: 0px;
}




.Footer-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
    background-color:  #48b3bc7e;
   margin-top: 20px;
   height: 180px;
  
}


.Contenedor1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
}
.Contenedor1 h1{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 1px solid black;
}
.ContenedorHijo1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ContenedorHijo1 span{
    display: flex;
    justify-content: start;
    gap: 12px;
    font-size: 20px;
    color: rgb(0, 0, 0);
} 
.ContenedorHijo1 span:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: scale(1.0);
} 

.logo :hover{
    transform: scale(1.2);
    filter: brightness(100%);

}
.logo img{
    width: 120px;
    height: 120px;

    
}
.contenedor3{
    display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 5px;
    

}

.lista{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
  

   
}

.lista iframe{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 150px;
    margin-top: 20px;
    border: none;
    box-shadow: 10px 10px 76px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 10px 10px 76px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 10px 10px 76px 0px rgba(255,255,255,0.75);
}

.lista span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    
}
/* .contenedor3 li{
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    margin-right: 15px;

}

.contenedor3 ul{
 display: flex;
 flex-direction: column;
 text-align: center;
 text-decoration: none;
 gap: 2px;
}
*/
.contenedor3 h1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

@media only screen and (max-width: 660px){

    .Footer-Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        /* padding: 0px 50px; */
        height: 400px;
        color: rgb(0, 0, 0);
      
    }
    
    .Contenedor1{
        display: flex;
        font-size: 10px;
        margin-top: 20px;
      
      
       
    }

    .ContenedorHijo1{
        display: flex;
        font-size: 5px;
        gap: 10px;
        
    }
    .logo img{
        height: 80px;
        width: 80px;
        margin-top: 20px;
    }

    .ContenedorHijo1 span{
        font-size: 18px;
    }
.lista iframe{
    width: 200px;
    height: 100px;
}
  
}